{% load staticfiles %}

<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="{% static 'css/kanban.css' %}">
</head>

<body>
  <div class="kanban__title">
    <h1><i class="material-icons">check</i> To do list</h1>
  </div>

  <div class="dd form-area">
    <div class="kanban task-form">
      <form action="/add_task">
        <label>Title: </label><input type="text" name="title" class='task-input'><br>
        <label>Content: <br></label><textarea type="text" name="content" class='task-input-textarea'></textarea>
        <button class="addbutton"><i class="material-icons">control_point</i> Add new</button>
    </div>
  </div>

  <div class="dd" id='board'>
    <ol class="kanban To-do">
      <h2><i class="material-icons">report_problem</i> ToDo</h2>
      <li v-for="task in tasksOpen" v-bind:key="task.name" class="dd-item">
        <card v-bind:task="task"></card>
      </li>
    </ol>

    <ol class="kanban progress">
      <h2><i class="material-icons">build</i> In Progress</h2>
      <li v-for="task in tasksProgress" v-bind:key="task.name" class="dd-item">
        <card v-bind:task="task"></card>
      </li>
    </ol>

    <ol class="kanban Done">
      <h2><i class="material-icons">check_circle</i> Done</h2>
      <li v-for="task in tasksDone" v-bind:key="task.name" class="dd-item">
        <card v-bind:task="task"></card>
      </li>
    </ol>

  </div>

  <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vue-resource.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vue-websocket.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/kanban.js' %}"></script>
</body>
</html>
