{% load staticfiles %}

<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="{% static 'css/kanban.css' %}">
</head>

<body>
  <div class="kanban__title">
    <h1><i class="material-icons">check</i> To do list</h1>
  </div>

  <div class="dd" id='board'>
    <ol class="kanban To-do">
      <h2><i class="material-icons">report_problem</i> ToDo</h2>
      <li v-for="task in tasksOpen" v-bind:key="task.name" class="dd-item">
        <card v-bind:task="task"></card>
      </li>

      <div class="actions">
        <button class="addbutt"><i class="material-icons">control_point</i> Add new</button>
      </div>
    </ol>

    <ol class="kanban progress">
      <h2><i class="material-icons">build</i> In Progress</h2>
      <li v-for="task in tasksProgress" v-bind:key="task.name" class="dd-item">
        <card v-bind:task="task"></card>
      </li>
    </ol>

    <ol class="kanban Done">
      <h2><i class="material-icons">check_circle</i> Done</h2>
      <li v-for="task in tasksDone" v-bind:key="task.name" class="dd-item">
        <card v-bind:task="task"></card>
      </li>
    </ol>

  </div>

  <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/kanban.js' %}"></script>
</body>
</html>
